@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

:root {
  --page-bg: #F1F3F5;
  --button-bg: #212529;
  --text-dark: #343A40;
  --text-gray: #868E96;
  --border-gray: #ADB5BD;
  --box-bg: #F1F3F5;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  font-family: 'Comfortaa', sans-serif !important;
}

.page-background {
  background-color: var(--page-bg);
}

.box-background {
  background-color: var(--box-bg);
}

.default-button {
  background-color: var(--button-bg);
  padding: 20px 30px;
  border-radius: 16px;
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 3px solid var(--button-bg);
  cursor:pointer;
}

.default-button:hover {
  background-color: #20c997;
}

.default-button:hover .default-button-icon {
  filter: grayscale(100%) brightness(0%);
}

.sm-button {
  background-color: var(--button-bg);
  padding: 10px 13px;
  border-radius: 8px;
  cursor:pointer;
}

.clock-text {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-align: center;
  color: var(--text-dark);
}

.text-gray {
  color: var(--text-gray);
}

.rounded-bubble {
  border-radius: 6px;
  border-bottom-left-radius: 0;
}

.scale-omega {
  width: 160px;
  height: auto;
}

.bottom-border {
  border-bottom: 2px solid #ADB5BD;
}

.bottom-border-gray {
  border-bottom: 3px solid #F1F3F5;
}