@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./src/assets/fonts/Comfortaa/static/Comfortaa-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

:root {
  --page-bg: #F1F3F5;
  --button-bg: #212529;
  --text-dark: #343A40;
  --text-gray: #868E96;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin:0;
}

body {
  font-family: 'Comfortaa', sans-serif !important;
}

.page-background {
  background-color: var(--page-bg);
}

.default-button {
  background-color: var(--button-bg);
  padding:20px 26px;
  border-radius: 16px;
}

.clock-text {
  font-size:5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-align: center;
  color: var(--text-dark);
}

.text-gray {
  color: var(--text-gray);
}